BasedOnStyle: LLVM

# indent
IndentWidth: 2
TabWidth: 2
UseTab: Never

# header/using sort
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
IncludeCategories:
  # Force <windows.h> very top
  - Regex: '^<windows.h>'
    Priority: 1
  # Kernel-mode core headers
  - Regex: '^<ntddk.h>'
    Priority: 2
  - Regex: '^<wdf.h>'
    Priority: 3
  - Regex: '^<ntifs.h>'
    Priority: 4
  # All other system headers
  - Regex: '^<.*>'
    Priority: 5
  # Project/local headers
  - Regex: '.*'
    Priority: 6

SortUsingDeclarations: true

# constructor initializer settings
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: true

# line length
ColumnLimit: 0
